body {
  background-image: url(pattern.png);
  background-repeat: repeat;
  background-color: rgb(187, 206, 237);
  font-family: Shadows Into Light, cursive;
  }
}

 h1, h3,  {
  font-family: Shadows Into Light, cursive;
}
p {
  font-size: 20px;
}

.get-quote {
 text-decoration: none;
 border: solid 2px black;
 color: black;
 box-sizing: border-box;
 padding: 5px;
 background-color: #99d6ff;
 font-family: Shadows Into Light, cursive;
 font-size: 20px;
 -webkit-transition-duration: 0.4s;
 transition-duration: 0.4s;
 border-radius: 10px;
}
.share-quote {
 text-decoration: none;
 border: solid 2px black;
 color: black;
 box-sizing: border-box;
 padding: 5px;
 background-color: #99d6ff;
 font-family: Shadows Into Light, cursive;
 font-size: 20px;
 -webkit-transition-duration: 0.4s;
 transition-duration: 0.4s;
 border-radius: 10px;
}

.container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
  width: 70%;
  font-family: Arial;
  font-size: 15px;
  -webkit-box-shadow: -4px 10px 84px 43px rgba(0,0,0,0.75);
 -moz-box-shadow: -4px 10px 84px 43px rgba(0,0,0,0.75);
 box-shadow: -4px 10px 84px 43px rgba(0,0,0,0.75);
 font-family: Fredericka the Great, cursive;

}

.hero-image {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
  height: 260px;
  border-radius: 10px;
}
.quote-box {
  border: 1px  black;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
}
