body {

       font-family:"Courier New", Courier, monospace;
}

#header{
      background-image: url("ko-tao.jpg");
      background-size: cover;
      padding: 10%;
      border: none;
}

#links-index{
     color: white;
     font-size: 20px;
}

#header-time {
     background-image: url("amsterdam.jpg");
     background-size: cover;
     padding: 11%;
     border:none;

}
#links-time  {
     font-size: 20px;
     color: white;
     padding-top: 5px;

}

#header-reflections {
     background-image: url("singapure.jpg");
     background-size: cover;
     padding: 15%;
     border:none;

}
#links-reflections {

     font-size: 20px;
     color: white;
     padding-top: 5px;
}


.h1-reflections {
       color:white;
}
.p-reflections {
       color: white;
       font-style: bold;
       padding-top: 250px;

}
h1 { font-size: 40px;
     text-align: center;
     color: black;
}
h2 {
    text-align: center;

}
h3 {
    text-align: center;

}
p {
   padding-top: 80px;
   color: black;
   text-align: center;
   font-size: 20px;
}
